<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggg.mybatisplus.mapper.TestDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ggg.mybatisplus.entity.TestData">
        <id column="id" property="id" />
        <result column="test_int" property="testInt" />
        <result column="test_str" property="testStr" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="test_enum" property="testEnum" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, test_int, test_str, create_time, update_time, version, test_enum, tenant_id
    </sql>

</mapper>
